{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "flowtype",
    "react-native",
    "sort-imports-es6-autofix"
  ],
  "rules": {
    // Soft some rules.
    "radix": 0,
    "semi": ["error", "never"],
    "arrow-parens": 0, // Does not work with Flow generic types.
    "no-use-before-define": 0, // Flow will pick this up anyway
    "max-len": 0, // Annoying, purely stylistic
    "no-useless-escape": 0,
    "no-underscore-dangle": ["error", {
      "allow": ["_user"], // ignored as its how the objects returned by firebase are named
      "allowAfterThis": true, // Can be used for 'private' methods in react classes
      "allowAfterSuper": true
      }
    ],
    "no-unused-vars": ["error", { 
      "argsIgnorePattern": "_"
    }],
    // Import
    "import/first": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": [2, { "ignore": ['\~*'] }],
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    // React.
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }], // No, JSX belongs to .js files.
    "react/no-unused-prop-types": 0, // going to use Flow types.
    "react/jsx-no-undef": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0, // Can not detect flowtype correctly.
    "react/require-default-props": 0, // Checked by flowtype.
    "react/display-name": 0, // todo: turn on and fix
    "react/sort-comp": [2, { // have some order about our react components
      "order": [
        "type-annotations", // Flow at the top (state and props etc)
        "static-methods",
        "lifecycle",
        "/^on.+$/", // keep the on events at the top of class   
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/", // Getters and setters after lifecycle and events
        "everything-else",
        "/^render.+$/", // all render methods at bottom
        "/^_render.+$/",
        "render",
      ],
    
    }],
    //"react/sort-comp": 2,
    "react/no-array-index-key": 0,
    // React Native.
    "react-native/no-unused-styles": 2,
    // Flow.
  },
  "globals": {
    "window": true,
    "fetch": true,
    "amigoMocks": true,
    "__DEV__": true
  }
}